.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.form input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 0 8px;
    border: 1px solid gray;
    border-radius: 4px;
    background-color: whitesmoke;
}

.p {
    margin-top: 15px;
}

.guest-button {
    margin-top: 15px;
}

.error {
    color: red;
}

.error li {
    list-style: none;
}