.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 50px;
    text-align: left;
    border-bottom: 1px solid lightgray;
}

.header h2 {
    margin: 0;
    font-size: 1.25rem;
}

.logout {
    width: auto;
}

.form {
    width: 100%;
    margin-top: 30px;
    padding: 20px;
}

.picture {
    position: relative;
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.picture::before {
    content: 'Change';
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
    border-radius: 50%;
}

.picture:hover::before {
    display: flex;
}

.remove {
    display: block;
    width: 65px;
    margin-bottom: 10px;
    text-align: left;
    border: none;
    background-color: transparent;
    color: blue;
    cursor: pointer;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.input-container label {
    margin-bottom: 10px;
    font-weight: bold;
}

.input-container input {
    height: 30px;
    padding: 0 5px;
}

.input-container textarea {
    padding: 5px;
    height: 100px;
}

.delete {
    margin-top: 15px;
    font-weight: bold;
    text-decoration: underline;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.error {
    margin: 5px 0;
    color: red;
}

@media screen and (min-width: 768px) {
    .container {
        border: 1px solid lightgray;
    }

    .header {
        text-align: center;
    }

    .header h2 {
        margin: 0 auto;
    }

    .form {
        max-width: 450px;
    }

    .picture {
        width: 150px;
        height: 150px;
    }
}