.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    min-height: 100vh;
    padding-top: 53px; /* Must be same as header height */
  }