.post {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.user {
    display: flex;
    align-items: center;
}

.user p {
    cursor: pointer;
}

.content,
.content img {
    width: 100%;
}

.content img {
    max-height: 500px;
    object-fit: cover;
}

.bottom {
    padding: 15px;
}

.bottom section {
    margin-bottom: 15px;
}

.buttons {
    display: flex;
}

.buttons button:first-child {
    margin-right: 15px;
}

.bold {
    font-weight: bold;
}

.comments {
    color: gray;
}