.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
}

.spinner {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 10px;
}

.spinner:after {
    content: '';
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #222;
    border-color: #222 #222 transparent;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}