.profile-picture {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.profile-picture img {
    width: 100%;
}

.small {
    width: 30px;
    height: 30px;
}

.medium {
    width: 45px;
    height: 45px;
}

.large {
    width: 80px;
    height: 80px;
}

@media screen and (min-width: 768px) {
    .large {
        width: 150px;
        height: 150px;
    }
}